ul#offcanvas-nav {
	padding: 1em 0.6em;
	
	li {
		margin-bottom: 1em;
		a {
			padding: 0.2em;
			color: $black;
		}
	}
	
}

header.header {
	position: relative;
	transition: transform .5s ease;
	
	#top-bar-menu,
	#top-bar-menu ul {
		z-index: 1;
		top: 0;
		width: 100%;
		background: $white;
		padding-top: 0.6em;
		padding-bottom: 0.6em;
		
		@include breakpoint (tablet) {
			padding-top: 1.05em;
			padding-bottom: 1.05em;
		}
		
	}
	
	.top-bar-left {
		li.logo {
			img {
				max-width: 220px;
				margin-top: 0.25em;
				
				@include breakpoint (tablet) {
					max-width: 260px;
					margin-top: 0;
				}
				
			}
		}
	}
		
	.top-bar-right {
		
		.inner {
		    display: flex;
			width: 100%;
    			
			ul#main-nav {
				li {
					margin-left: 1.6em;
					
					a {
						text-transform: uppercase;
						color: $black;
					}
					
				&:not(:first-child) {
					position: relative;
					
					&:before {
						content: "/";
					    position: absolute;
					    transform: rotateY(180deg) translateX(19px) translateY(-7px);
					}
					
				}
				
					ul.submenu {
						padding: 1em 1em 0;
					    top: 32px;
					    left: 50%;
					    transform: translateX(-50%);
					    
					    li {
						    text-align: center;
						    margin: 0 0 1em;
					    }
					    
	    			}
					
				}
			}
			
			ul.menu.social {
			    width: auto;
			    flex: 1 1 0px;
			    display: flex;
			    align-items: center;
			    flex-wrap: nowrap;
			    margin-top: -0.1em;
			    
			    li {
					font-size: rem-calc(19.2);
					margin-left: 0.4em;
					
				
				&:first-child {
					@media screen and (max-width: 339px) {
						margin-left: 0;
					}
				}		
			
					
				@media screen and (min-width: 440px) {
					font-size: rem-calc(21.6);
					margin-left: 0.8em;
					
				}
				    					
					a {
						color: $black;
					}
					
			    }
			    
			}
		
		}
		
		a#nav-trigger {
			width: 30px;
			height: 27px;
			position: relative;
			margin-left: 0.8em;
			
		@media screen and (min-width: 440px) {
			margin-left: 1em;
		}
			
			span {
				position: absolute;
				left: 0;
				right: 0;
				display: block;
				width: 30px;
				height: 3px;
				background-color: $black;
				
			&:nth-child(1) {
				top: 3px;
			}

			&:nth-child(2) {
				top: 12px;
			}
			
			&:nth-child(3) {
				bottom: 3px;
			}
							
			}
			
		}	
		
	}
							
}

div#off-canvas {
	padding-top: 1em;
	
}