.back-page-title-banner {
	padding-top: 3.6em;
    padding-bottom: 1.95em;
	background-size: cover;
	
	h1 {
		color: $white;
		font-size: rem-calc(60);
		font-family: $font-serif-alt;
		font-weight: 500;
		
		@include breakpoint (medium) {
			font-size: rem-calc(84);
		}
		
	}
	
}