.career-accordion {
	
	.accordion-item {
		border-bottom: 1px solid $medium-gray;
		transition: border-color 0.3s ease;
		
		a.accordion-title {
			display: flex;
			justify-content: space-between;
			position: relative;
			padding-left: 0;
			padding-right: 0;
			
		&:hover {
			color: $black;	
		}
			
		&:before {
			display: none;
		}
			
		&:after {
			content: '';
			position: absolute;
			bottom: 13px;
			left: 0;
			width: 58px;
			height: 6px;
			background-color: transparent;
			transition: background-color 0.3s ease;
		}
			
			img {
				transform: rotateX(180deg);
				transition: 0.3s ease;
			}
			
		}
		
	&.is-active {
		border-bottom: 1px solid transparent;
		a.accordion-title {
			font-weight: bold;
			img {
				transform: rotateX(0deg);
			}
			
		&:after {
			background-color: $black;
		}
			
		}
	}
	
		.accordion-content {
			padding: 0;
		}
		
	}
	
}