.hero {
	
	.hero-slider {
		overflow: hidden;
		position: relative;
		
		button {
			height: 52px;
			background: rgba(255,255,255,0.7);
			position: absolute;
			z-index: 1;
			bottom: 0;
			
		&.slick-prev {
			left: 0;
			img {
				transform: rotate(-90deg);
			}
		}
		
		&.slick-next {
			right: 0;
			img {
				transform: rotate(90deg);
			}
		}
				
		}
		
		ul.slick-dots {
		    position: absolute;
		    left: 0;
		    right: 0;
			bottom: 0;		    
		    width: 100%;
		    font-size: 0;
		    display: flex !important;
		    justify-content: center;
		    
		    li {
			    transition: transform 0.5s ease;
			    
				button {
					position: relative;
					width: 14px;
					height: 14px;
					background: #fff;
					border-radius: 100%;
					margin: 0 7px;
				}
				
			&.slick-active {
				transform: scale(1.35);	
			}
				
			}
		    
		}
		
		.single-slide {
			position: relative;
			
			.hero-bg {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				background-size: cover;
				background-position: 72% 50%;
				
				@include breakpoint(medium) {
					background-position: 50% 0%;
				}
				
			}
			
			.inner {			
				height: calc(100vh - 60px);
				max-height: 812px;
				display: flex;
				flex-direction: column;
				justify-content: flex-end;
				padding-bottom: 5em;
				
				@include breakpoint(medium) {
					min-height: 0;
					height: 500px;
					max-height: none;
				}

				@include breakpoint(large) {
					min-height: 0;
					height: 614px;
					height: 47.969vw;
					max-height: none;
				}
				
				.text-wrap {
					padding-bottom: 2.55em;
					position: relative;
					
					.bg {
						top: 2em;
						right: -2.8em;
						left: -2000px;
						left: -200vw;
						bottom: 0;
						position: absolute;
						background-color: $black;
						opacity: 0.7;
						
						@include breakpoint(medium) {
							top: 3.5em;
						}
						
					}
					
					h2,
					p,
					a {
						position: relative;
					}
				
					h2 {
						color: $white;
						font-size: rem-calc(50);
						text-transform: none;
						padding-bottom: 0.11em;
						font-family: $font-serif-alt;
						font-weight: 500;
						
						@include breakpoint(medium) {
							font-size: rem-calc(84);
						}
						
					}
					
					p {
						color: $white;
						font-family: $font-sans;
						font-size: rem-calc(22);
						line-height: 1.45;
						margin-bottom: 0;
						padding-bottom: .58em;
					}
					
					.link-wrap {
						
						a {
							font-family: $font-sans;
							text-transform: uppercase;
							font-weight: bold;
							font-size: rem-calc(16);
							color: $teal;
							letter-spacing: 0;
						}
					}
					

					
				}
				
			}
		}
		
	&.slick-initialized {
		height: auto;
	}
		
	}
	
}
