.services.module {
	
	h2 {
		color: $black;
	}
	
	.copy-wrap {
		p {
			font-family: $font-sans;
			font-size: rem-calc(22);
			line-height: 1.4545;
			margin-bottom: 0;
			padding-bottom: 2.1em;
		}
	}
	
	.service-cards-wrap {
		.single-service-card {
			margin-bottom: 2em;
			
			@include breakpoint(medium) {
				margin-bottom: 0;
			}
						
			.inner {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				height: 100%;
				
				.top {
					.icon-wrap {
						display: flex;
						align-items: center;
						justify-content: center;
						height: 46px;
						margin-bottom: 1em;
					}
					
					h3 {
						font-size: rem-calc(23);
						line-height: 1.217;
						margin-bottom: 0;
						padding-bottom: 0.2em;
					}
					
					p.card-copy {
						font-size: rem-calc(16);
						line-height: 1.4375;
						margin-bottom: 0;
						padding-bottom: 1.55em;
					}
				
				}
				
				.bottom {
					a.button {
						margin-bottom: 0;
					}
				}
				
			}
			
		}
	}
	
&.layout-with-copy {
	h2 {
		font-size: rem-calc(36);
		line-height: 1;
		text-transform: uppercase;
		font-weight: 500;		
	}
}

&.layout-without-copy {
	
	.inner.padded {
		padding: 4.4em 1em 2.5em;
		
	h2 {
		font-size: rem-calc(23);
		line-height: 1.217;	
		padding-bottom: 2.42em;	
	}
	
	}
	
	.top {
		padding-bottom: 1.1em;
	}
	
}
	
}